sources = [
    {
        'id'       : 'work',
        'user'     : 'mrbossman@work.com',
        'password' : 'supersecret,
        'host'     : 'secure.work.com'
    },
    {
        'id'       : 'gmail',
        'user'     : 'myfriend@gmail.com',
        'password' : 'superkit',
        'host'     : 'imap.gmail.com'
    },
]
timeout       = 5000 # in milliseconds
checkInterval = 60   # in seconds
