# copy to ~/.config/catfriend

host imap.gmail.com
    id        fun  # used instead of host in nofifications when available
    user      friend@gmail.com
    password  faptap
    cert_file server.pem  # path relative to config file i.e. ~/.config

host insecure.work.com
    user      bossman@work.com
    password  insecure
    nossl # turn off ssl, it is on by default
    work  # mark as work account, -w command-line argument enables it

# time notification remains on screen in milliseconds
notificationTimeout    10000
errorTimeout           60000  # as above but for error notifications
socketTimeout          60     # server socket timeout in seconds
checkInterval          60     # how often to wait between checks in seconds
